.topnav{
  background-color: darkblue;
  overflow: hidden;
}
.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover{
  background-color: #ddd;
  color: black;
}
.topnav a:active{
  background-color: #1ac42d;
  color: white;
}
body{
  background-color: #1d1f1d;
}
.tab{
  float: left;
  border: 1px solid #ccc;
  background-color: white;
  width: 30%;
  height: 300px;
}
.tab button{
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}
.tab button:hover{
  background-color: #ddd;
}
.tabcontent{
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}
