body {
    background-color: white;
}
.topnav {
    border: #ff0000;
    border-width: 2px;
    overflow: hidden;
    background-color: #a9a9a9;
}
.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #d3d3d3;
    color: #333;
}
.fa { font-size: 50px; }
font {
    font-family: 'Trebuchet MS', sans-serif;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #E60F0F;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}