body {
    background-color: white;
}
.topnav {
    border: #ff0000;
    border-width: 2px;
    overflow: hidden;
    background-color: #a9a9a9;
}
.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #d3d3d3;
    color: #333;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff0000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0; } 
  to { bottom:0px; opacity:1; }
}
@keyframes animatebottom { 
  from { bottom:-100px; opacity:0; } 
  to{ bottom:0; opacity:1; }
}
#buffer {
  display: none;
  text-align: center;
}
.container {
    width: 100%;
    background-color: #ddd;
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.yt { width: 30%; background-color: #ff0000; }
.twitch { width: 20%; background-color: #6441A4; }
.git { width: 5%; background-color: #d3d3d3; }
.dis { width: 50%; background-color: #738ADB; }
* { box-sizing: border-box; }